:root {
  --bulma-primary-h: 200deg;
  --bulma-primary-l: 95%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bulma-primary-h: 200deg;
    --bulma-primary-l: 13%;
  }
}

.wikis {
  padding-top: 16px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}

.wikis .card {
  --bulma-card-shadow: 0 0.1em 0.1em -0.125em hsla(0deg,0%,100%,0.1),0 0px 0 1px hsla(0deg,0%,100%,0.02);
  width: 140px;
  height: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
  padding: 0;
}

.card-image, .card > span {
  width: 124px;
  padding: 8px;
  text-align: center;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#content {
  flex: 1;
}

.title {
  font-family: 'Bungee', var(--bulma-family-primary);
}

.main {
  background: var(--bulma-primary);
  padding: 40px;
  border-radius: 16px;
}

.yeti {
  width: 128px;
}

.modal-card-body {
  background: #ededed;
  border-radius: 16px;
}

.modal-close {
  position: absolute;
  top: 16px;
  right: 16px;
  z-index: 100;
}
.modal-close::after, .modal-close::before {
  background-color: #000;
}

.modal-card-body progress {
  position: absolute;
  z-index: 0;
  top: 50%;
  left: 50%;
  width: 200px;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 768px) {
  .title {
    margin-right: 56px;
  }
  .yeti {
    width: 56px;
    position: absolute;
    top: 40px;
    right: 40px;
  }
  .wikis .card {
    width: 80px;
    height: 80px;
  }
  .card-image,
  .card > span {
    width: 80px;
    padding: 4px;
    font-size: 12px;
  }
}